body {
  margin: 0;
}

.header {
  align-items: center;
  background: black;
  display: flex;
  height: 64px;
  padding: 0 16px;
}

.header .input-wrapper {
  position: relative;
}

.header input {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  padding-right: 36px;
  width: 240px;
}

.header img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: 1;
}

.container {
  display: flex;
  height: calc(100% - 64px);
  position: fixed;
  width: 100%;
}

.container .keys,
.container .results {
  height: 100%;
  overflow: auto;
}

.container .keys {
  background: #f9f9f9;
  width: 320px;
}

.container .results {
  flex: 1;
}