body {
  margin: 0;
}

.header {
  align-items: center;
  background: black;
  display: flex;
  height: 64px;
  padding: 0 16px;
}

.header .input-wrapper {
  position: relative;
}

.header input {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  padding-right: 36px;
  width: 240px;
}

.header img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  z-index: 1;
}

.container {
  display: flex;
  height: calc(100% - 64px);
  position: fixed;
  width: 100%;
}

.container .keys,
.container .results {
  height: 100%;
  overflow: auto;
}

.container .keys {
  border-right: 2px solid #f9f9f9;
  width: 320px;
}

.container .results {
  flex: 1;
  padding: 16px;
}

.keys-list,
.results-list {
  margin: 0;
  list-style: none;
  padding: 0;
  padding-bottom: 24px;
}

.keys-list {
  padding: 16px;
}

.keys-list li {
  background: #f0f0f0;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 16px;
}

.results-list li {
  background: #f0f0f0;
  margin: 8px 0;
  padding: 16px;
}

.keys-list li:nth-child(ODD) {
  background: #fafafa;
}

.results-list li:nth-child(ODD) {
  background: #fafafa;
}

.keys-list li:hover {
  background: #fafafa;
}

.keys-list li.selected {
  background: black;
  color: white;
}

.keys-list li .key {
  font-size: 16px;
}

.keys-list li .create-date {
  color: #999;
  font-size: 12px;
  margin-top: 8px;
}

.results-keys {
  border-bottom: 1px solid #eee;
  font-size: 24px;
  padding-bottom: 16px;
}

.title {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.title img {
  font-size: 10px;
  margin-right: 4px;
  width: 32px;
}

.url {
  font-size: 14px;
  margin: 8px 0;
}

.rate {
  margin: 8px 0;
}

.rate img {
  margin-right: 4px;
  width: 20px;
}

.empty-container {
  align-items: center;
  display: flex;
  height: calc(100% - 64px);
  justify-content: center;
  position: fixed;
  width: 100%;
}