body {
  margin: 0;
}

.container {
  font-size: 12px;
  margin: 16px 12px;
  min-height: 150px;
  width: 278px;
}

.header {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.header img {
  width: 32px;
}

iframe[name="iframe-invisible"] {
  display: none;
}

.item-wrapper {
  margin: 16px 0;
}

.keys-content,
.rates-content {
  margin: 8px 0;
  flex: 1;
}

.keys-content {
  position: relative;
}

.keys-list {
  background: #fff;
  display: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 #ccc;
  box-sizing: border-box;
  margin: 0;
  max-height: 180px;
  overflow: auto;
  padding: 2px 6px;
  position: absolute;
  width: 100%;
}

.keys-list li {
  background: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85em;
  line-height: 1.4;
  margin: 6px 3px;
  padding: 4px 6px;
}
.keys-list li:hover {
  background: #eee;
}

.rates-star-list {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rates-star-list li {
  flex: 1;
}
.rates-star-list li img {
  height: 20px;
  width: 20px;
}
.rates-star-list li img.star-good {
  display: none;
}
.rates-star-list li.active img.star-normal {
  display: none;
}
.rates-star-list li.active img.star-good {
  display: initial;
}

.item-wrapper > label {
  margin: 0;
  width: 42px;
}

.item-wrapper input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: initial;
  display: inline-block;
  margin: 0;
  padding: 8px 6px;
  width: 100%;
}

.result-content {
  align-items: center;
  background: #f5f5f5;
  border-radius: 4px;
  display: flex;
  padding: 8px 6px;
  margin: 8px 0;
}
.result-content img {
  font-size: 10px;
  margin-right: 3px;
  width: 16px;
}

.item-actions-wrapper {
  align-items: center;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
}

.item-actions-wrapper button {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: initial;
  cursor: pointer;
  margin: 0;
  padding: 6px 10px;
}
.item-actions-wrapper button.saved {
  background: none !important;
  border-color: transparent !important;
  color: blue;
  cursor: initial;
}
.item-actions-wrapper button:hover {
  background: #eee;
}
.item-actions-wrapper button:active {
  background: #e0e0e0;
}

.loading {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.64);
  bottom: 0;
  color: #333;
  display: none;
  font-size: 16px;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.loading.show {
  display: flex;
}